<div class="list-group" style=" text-align: center; justify-content: center;">
    <h2 style="background-color: gray; color: white;"></h2>
    <a href="/candies/{{ id }}" class="list-group-item list-group-item-action">{{ title }}</a>
    <p>${{ price }}</p>
    {{!-- <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action"></a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true"></a> --}}
    </div>
    
    <img id="logoImg" src="" width="950px" height="500px">
</div>