<div class="col">
    <div class="card">
        <img src="/images/candy.jpg" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">
                <a href="/candies/{{ id }}" class="list-group-item list-group-item-action">{{ title }}</a>
            </h4>
            <p class="card-text">Price: ${{ price }}</p>
            <p class="card-text">Qty: {{ quantity }}</p>
        </div>
    </div>
</div>
    
