<div class="cardA" style="text-align: center; justify-content: center;">
  <h1>Inventory Selection</h1>
</div>


<div class="" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
{{#each candies as |candy|}}
{{> candy-info candy}}
{{/each}}
</div>


<div class="card-body" style=" text-align: center; justify-content: center;">
  <h1 style="background-color: gray; color: white;">ABOUT US</h1>
  <h3></h3>
  <p class="card-text">

</div>