<div class="cardA" style="text-align: center; justify-content: center;">
  <h1>Inventory Selection</h1>
</div>


<section class="add-candy">
  <h3>Create New Candy</h3>
  <form class="new-candy-form" role="form" method="post" action="/api/candies" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
      <input type="text" id="candy-title" name="candy-title" class="form-control" placeholder="Name" aria-label="price" aria-describedby="addon-wrapping">
      <input type="text" name="price" class="form-control" placeholder="Price" aria-label="price" aria-describedby="addon-wrapping">
      <input type="text" name="quantity" class="form-control" placeholder="Quantity" aria-label="quantity" aria-describedby="addon-wrapping">
    </div>
    <button class="add-btn" type="submit">Create</button>
  </form>
</section>

<div class="" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
{{#each candies as |candy|}}
{{> candy-info candy}}
{{/each}}
</div>

<script src="/javascript/add-candy.js"></script>


